.register-container{
    width: 40%;
    margin: auto;
    margin-top: 15px;
    border: 2px solid red;
    padding: 15px;
}

.register-text{
    display: flex;
    justify-content: center;
}

.register-text h3{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register-container form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.input-field,.input-image{
    /* border: 2px solid green; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-field input{
    /* border: 2px solid blue; */
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input-field label{
    position: absolute;
    top: 10px;
    left: 0px;
    pointer-events: none;
    transition: .3s;
}

.input-field input:focus ~label{
    top: -15px;
    font-size: 12px;
}

.input-field input:valid ~ label ,.input-field input:focus ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
  }

.input-image-section{
    border: 2px solid blanchedalmond;
    border-radius: 4px;
    padding: 10px 15px;
    width: max-content;
    background-color: antiquewhite;
    text-align: center;
}

.input-image-section:hover{
    border: 2px solid green;
    cursor: pointer;
}

.input-field input:focus,.input-field input:valid{
    border-bottom: 1px solid #743ae1;
}
.submit-button{
    display: flex;
    justify-content: center;
}

.submit-button button{
    border-radius: 5px;
    background-color: thistle;
    font-size: 20px;
    padding: 10px 19px;
    cursor: pointer;
}

.navigate-login .login-text{
    color: red;
    font-style: oblique;
    cursor: pointer;
}

@media (max-width:900px){
    .register-container{
        width: 60%;
        margin: auto;
        margin-top: 15px;
    border: 2px solid red;
    padding: 15px;
    }
}

@media (max-width:700px){
    .register-container{
        width: 80%;
        margin: auto;
        margin-top: 15px;
    border: 2px solid red;
    padding: 15px;
    }
}

@media (max-width:500px){
    .register-container{
        width: 95%;
        margin: auto;
        margin-top: 15px;
    /* border: 2px solid red; */
    border: none;
    padding: 15px;
    }
}